Repository recm0708/SuiteMDI-EduSQL, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, db, infra

docs: corregir badge de licencia en README
  README.md
Labels: docs

docs(gh): agregar templates de issues (bug/feature/task)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: infra

docs(gh): agregar PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, infra

chore(gh): configurar release-drafter (notas automáticas)
  .github/release-drafter.yml
Labels: infra

docs: sea agrega correo en SECURITY
  SECURITY.md
Labels: docs

docs(gh): templates de issues/PR y CODEOWNERS
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: docs, infra

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["**/*.md","docs/**"]

db:
  - changed-files:
      - any-glob-to-any-file: ["db_scripts/**"]

infra:
  - changed-files:
      - any-glob-to-any-file: [".github/**",".editorconfig",".gitattributes",".gitignore"]
